.accordion-container {
    display: inline-block;
  }
  
  .accordion-item {
    margin-bottom: 1em;
  }
  
  .accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .accordion-title {
    color: #BDC1CA;
    flex: 1;
    font-size: 1.2em;
  }
  
  .accordion-icon {
    font-size: 20px;
    color: rgb(99, 98, 98);
  }
  
  /* .expanded .accordion-icon {
    transform: rotate(180deg);
  } */
  
  .accordion-content {
    padding: 10px;
  }
  
  .sublevel {
    display: flex;
    align-items: center;
    padding: 0.3em;
    
  }
  
  .sublevel span {
    margin-right: 5px;
    transform: translateY(-0.6em);
  }
  
  .sublevel-title {
    margin-left: 5px;
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  